{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "extends": "airbnb",
  "rules": {
    "semi": [0],
    "react/jsx-filename-extension": [0],
    "comma-dangle": [0],
    "react/destructuring-assignment": [0],
    "react/require-default-props": [0],
    "react/forbid-prop-types": [0],
    "no-param-reassign": [0],
    "arrow-body-style": [0],
    "react/sort-comp": [0],
    "react/no-danger": [0]
  }
}
